body, div {
    border: 1px solid black;
}
.box{
    display: flex;
justify-content: center;
align-items: center;
margin: 10px;
padding: 10px;
}
#header{
    height: 100px;
    background: bisque;
}
#menu{
    height: 300px;
    width: 25%;
    background: darkorchid;
}
#posts{
width: 75%;    
}
.post{
    height: 50px;
    box-sizing: border-box;
    background: aqua;
}
#fuoter{
    height: 100px;
    background: bisque;
}