@media screen and (max-width: 400px) {
    .header__menu {
        display: none;
    }

    .header__logo img {
        width: 50px;
    }

    .wrapper {
        max-width: 400px;
        padding: 0 10px;
    }

    .header__top {
        padding-top: 20px;
    }

    .nav__btn_mobile {
        display: flex;

    }

    .nav__btn_mobile div {
        height: 3px;
        background: #ff7400;
        border-radius: 50px;
    }

    .header__title {
        max-width: 340px;
        text-align: center;
        margin-top: 246px;
    }

    .header__title p {
        font-family: Tinos;
        font-size: 15px;
        line-height: 20px;
        margin-top: 0;
        color: #FFFFFF;
    }

    .header__title h2 {
        font-size: 30px;
        line-height: 36px;
    }

    .header__title h1 {
        font-size: 40px;
        line-height: 46px;
    }

    .header__title p::before,
    .header__title p::after {
        display: none;
    }

    .header__main.wrapper {
        padding-left: 10px;
    }

    .h2 {
        margin-left: 0;
    }

    .intro__box {

        display: block;
        /*flex-direction: column;*/
    }

    .dishes.wrapper {
        width: 400px;
        height: 1000px;
    }

    .intro__box {
        width: 400px;
        height: 1015px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        row-gap: 14px;
        top: 0;
        align-items: center;

    }

    .intro {
        width: 340px;
        height: 328px;
        position: relative;
        top: -100px;

    }

    .about_restaurant {
        width: 290px;
        height: 85px;
        font-size: 22px;
        line-height: 25px;
        height: 22px;
    }

    .our_story.wrapper {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 1150px;
        display: block;
        background-color: rgba(255, 255, 255, 1);;
    }

    .story_text {
        width: 340px;
        height: 830px;
    }

    .story {
        width: 181px;
        height: 92px;
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        align-items: center;
        Font-family: serif;
        font-size: 40px;
        line-height: 46px;
    }

    .text_about_restaurant {
        display: none;
    }

    .text_about_restaurant_mobile {
        display: block;
        margin-top: 48px;
        text-align: center;
        width: 400px;
        height: 280px;
        margin-top: 21px;
        Font-family: "Open Sans";
        font-size: 15px;
        line-height: 21.79px;
        color: #656363;
    }

    .number_of_dishes {
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 380px;
        justify-content: center;
        column-gap: 20px;
        align-items: center;
    }

    .story_pictures {
        display: none;
    }

    .story_pictures_mobile {

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .images {
        width: 320px;
        height: 325px;
    }

    .imag1 {
        margin-top: 0;
    }

    .imag2 {
        margin-left: 117px;
    }

    .imag3 {
        margin-left: 170px;
        margin-top: 105px;
    }

    .imag4 {
        margin-left: 170px;
        margin-top: 20px;
    }
    .bg1{
        width: 400px;
        height: 357px;
    }
    .our_story.wrapper {
        width: 400px;
        margin-left: 30px;
        }
    .bg1.wrapper{
        width: 400px;
        height: 357px;
       justify-content: center;
    }
    .bg1_text_box{
        width: 290px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .bg_text_box1 {
        margin-left: 0px;
        width: 220px;
        height: 136px;
        font-size: 30px;
        line-height: 34px;
        text-align: center;
    }
    .bg_text_box2 {
        width: 290px;
        height: 66px;
        font-size: 24px;
        line-height: 33px;
        margin: 21px 0 0 10px;
        text-align: center;
    }
    .bg1_button{
        display: none;
    }
    .bg1_button_mobile{
        display: flex;
        margin-top: 30px;
    }
    .our_dishes_menu.wrapper{
        flex-direction: column;
        margin: 60px 0 60px 0;
    }
    .image__dishes_menu{
        flex-direction: column;
        row-gap: 50px;
        height: 1150px;
    }
    .wrap__dishes_menu{
        row-gap: 100px;
    }
    .wrapper_pizza{
       justify-content: flex-start;
    }
    .gamburger_mobile{
        flex-direction: column;

    }

}