html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Tinos', serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
   /*height: 100vh;*/
    width: 1440px;
    height: 800px;
    background: url("../image/bg.png") no-repeat center/cover;
}
.header__main.wrapper{
    padding-left: 170px;
}

.header__top {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__item img {
    width: 20px;
}

.nav {
    display: flex;
    column-gap: 23px;
}

.nav__item a {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__menu {
    display: flex;
    align-items: center;
    height: 70px;
    column-gap: 35px;
}

.header__phone {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    width: 155px;
    border-left: 2px solid #FFFFFF;
    padding-left: 15px;
}

.header__contact {
    display: flex;
}

.header__button {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 0 19px;
    background-color: #FF7400;
    height: 40px;
    border: none;
    cursor: pointer;
}

.header__contact {
    display: flex;
    align-items: center;
    column-gap: 45px;
}

.header__title {
    font-weight: normal;
    color: #d67e35;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 203px;
}

.header__title h2 {
    font-size: 50px;
    line-height: 57px;
    margin-left: 24px;
}

.header__title h1 {
    font-size: 80px;
    line-height: 92px;
}

.header__title p {
    font-size: 18px;
    line-height: 25px;
    /*margin-left: 24px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c4c4c4;
    margin-top: 12px;
}

.header__title p::before,
.header__title p::after {
    content: "";
    display: block;
    width: 61px;
    height: 2px;
    background-color: #c4c4c4;
}

.header__title p::before {
    margin-right: 10px;
}

.header__title p::after {
    margin-left: 10px;
}

.header__main .header__button {
    margin-top: 35px;
}

.header__main_btn {
    display: flex;
    justify-content: center;

}

.nav__btn_mobile {
    display: none;
    width: 30px;
    flex-direction: column;
    row-gap: 4px;

}


.dishes {
    width: 1440px;
    height: 371px;
    display: flex;
    background-color: rgba(255, 255, 255, 1);;
    justify-content: center;
    box-sizing: border-box;
}

.intro__box {
    width: 1138px;
    height: 328px;
    position: relative;
    top: -107px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.intro {
    width: 349px;
    height: 328px;
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 10px 10px 50px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;

}

.intro_img {
    margin: 48px 132px 4px 130px;
}

.intro_plus {
    Font-family: serif;
    font-size: 24px;
    line-height: 28px;
    height: 24px;
}

.p_broun {
    color: #BC9060;
}

.about_restaurant {
    width: 376px;
    height: 85px;
    margin-top: 20px;
    text-align: center;
    Font-family: serif;
    font-size: 22px;
    line-height: 28px;
    height: 22px;
    color: #656363;
}

.our_story {
    width: 1440px;
    height: 620px;
    display: flex;
    background-color: rgba(255, 255, 255, 1);;
}

.story_text {
    width: 720px;
    height: 620px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.story_pictures {
    width: 720px;
    height: 620px;
    background-color: rgba(255, 255, 255, 1);
}

.story {
    width: 336px;
    height: 62px;
    margin-top: 16px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    Font-family: serif;
    font-size: 54px;
    line-height: 62px;
    color: #000000;
}

.text_about_restaurant {
    text-align: center;
    width: 444px;
    height: 217px;
    margin-top: 21px;
    Font-family: "Open Sans";
    font-size: 16px;
    line-height: 21.79px;
    color: #656363;
}

.number_of_dishes {
    display: flex;
    width: 444px;
    height: 122px;
    justify-content: center;
    column-gap: 20px;
}

.one_number_of_dishes {
    margin-top: 39px;
    width: 84px;
    height: 83px;

    justify-content: center;
    flex-direction: column;
}

.number {
    width: 84px;
    text-align: center;
    Font-family: "Open Sans";
    font-style: normal;
    font-size: 40px;
    line-height: 54px;
    color: #BC9060;
}

.dish {
    width: 84px;
    height: 27px;
    Font-family: "Open Sans";
    font-style: normal;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    text-align: center;
}

.story_pictures {
    display: flex;
    align-items: center;
}

.images {
    position: relative;
    width: 539px;
    height: 498px;
}

.imag1 {
    position: absolute;
    margin-top: 34px;
    z-index: 2;
}

.imag2 {
    position: absolute;
    margin-left: 190px;
    z-index: 1;
}

.imag3 {
    position: absolute;
    margin-left: 284px;
    margin-top: 197px;
    z-index: 3;
}

.imag4 {
    position: absolute;
    margin-left: 285px;
    margin-top: 35px;
}

.bg1 {
    width: 1440px;
    height: 357px;
    background: url("../image/bg1.png") no-repeat center/cover;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.bg1_text_box {
    display: flex;
    flex-direction: column;
    /*background: #ff7400;*/
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.bg_text_box1 {
    margin-left: 165px;
    align-items: center;
    width: 601px;
    height: 120px;
    /*text-align: center;*/
    Font-family: "Open Sans";
    font-style: normal;
    font-size: 40px;
    line-height: 54px;
    color: #D67E34;

}

/*.bg_text_box1>p{*/
/*    margin-top: 80px;*/

.bg_text_box2 {
    width: 601px;
    height: 33px;
    margin-top: 20px;
    margin-left: 165px;
    /*text-align: center;*/
    Font-family: "Open Sans";
    font-style: normal;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
}

.bg1_button {
    margin-left: 331px;
}

.our_dishes_menu {
    height: 337px;
    width: 1440px;
    display: flex;
    justify-content: center;
    column-gap: 10px;
    align-items: center;
    Font-family: "Tinos";
    font-style: normal;
    font-size: 54px;
    line-height: 62px;

}

.image__dishes_menu {
    display: flex;
    width: 1440px;
    height: 476px;

}

.wrapper_pizza {
    width: 610px;
    display: flex;
    justify-content: flex-end;
}

.wrap__dishes_menu {
    width: 750px;
    height: 474px;
    display: flex;
    /*margin-left: 20px;*/
    flex-direction: column;
    justify-content: space-between;
}

.little_image_and_price {
    width: 210px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap_little_menu {
    display: flex;
    align-items: center;
}

.dishes_name {
    width: 181px;
    height: 30px;
    display: flex;
    text-align: start;
    justify-content: start;
    align-items: start;
    Font-family: "Tinos";
    font-style: normal;
    font-size: 26px;
    line-height: 30px;
}

.vector {
    width: 204px;
    height: 0px;
    border: dotted black;
}

.price {
    width: 70px;
    height: 30px;
    Font-family: "Tinos";
    font-style: normal;
    font-size: 26px;
    line-height: 30px;
}

.bar {
    padding: 0;
    width: 1440px;
    height: 1034px;
    margin-top: 152px;
    background: url("../image/bar.png") no-repeat center/cover;
}

.our_menu {
    width: 270px;
    height: 62px;
    position: absolute;
    display: flex;
    margin-top: 98px;
    margin-left: 590px;
    align-items: center;
    font-family: Tinos;
    font-size: 54px;
    line-height: 62px;
    color: #FFFFFF;
}

.bar_menu {
    width: 1110px;
    height: 510px;
    margin-top: 298px;
    margin-left: 165px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar_menu_items {
    width: 350px;
    height: 510px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.recomendid {
    position: absolute;
    width: 124px;
    height: 36px;
    background-color: #D67E34;
    margin-right: 226px;
    box-sizing: border-box;
    padding: 7px 11px 11px 12px;
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 18px;

}

.bar_img {
    margin-top: 80px;
    width: 231px;
    height: 231px;
}

.burger_box_img {
    border-radius: 50%;
    position: absolute;
}

.bar_img_prise {
    position: absolute;
    margin-left: 131px;
    margin-top: 131px;
}

.bar_item_menu_name {
    margin-top: 16px;
    Font-family: "Tinos";
    font-style: normal;
    font-size: 26px;
    line-height: 30px;
}

.bar_item_menu_property {
    margin-top: 16px;
    Font-family: "Open Sans";
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 20px;
}

.bar__button {
    width: 220px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 0 19px;
    background-color: #D67E34;
    border: none;
    cursor: pointer;
}

.bar_item_price {
    color: #FFFFFF;
    font-size: 30px;
    line-height: 33px;
    position: absolute;
    z-index: 1;
    margin-left: 160px;
    margin-top: 165px;
    text-align: center;
    font-family: Cookie;
    font-style: normal;
}

.testimonial.wrapper{
    width: 1440px;
    height: 460px;
    display: block;
    justify-content: center;


}

/*SLIDER*/

/*.slider_box{*/
/*    width: 1440px;*/
/*    height: 700px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    background-color: #ff7400;*/
/*}*/
.wrapper_slider {
    height: 550px;
    position: relative;
    width: 1440px;
    background-color: rgba(229, 229, 229, 1);

}

.slider {
    height: 550px;/*inherit*/
    overflow: hidden;
    position: relative;
    width: inherit;

}
.slides slide1{
    display: flex;
    justify-content: center;
}

.slides {
    height: inherit;
    opacity: 0;
    position: absolute;
    width: inherit;
    z-index: 0;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -moz-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    -o-transition: transform ease-in-out .5s, opacity ease-in-out .5s;
    transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

/*.slide1 { background-image: url(http://9.jpg); }*/
/*.slide2 { background-image: url(http://0e.jpg); }*/
/*.slide3 { background-image: url(http://3.jpg); }*/
#slide1:checked ~ .slider > .slide1,
#slide2:checked ~ .slider > .slide2,
#slide3:checked ~ .slider > .slide3{
    opacity: 1;
    z-index: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.wrapper_slider > input {
    display: none;
}

.wrapper_slider .controls {
    left: 52.5%;
    margin-left: -100px;
    position: relative;
}
/*.controls{*/
/*    width: 200px;*/
/*}*/

.wrapper_slider label {
    cursor: pointer;
    display: inline-block;
    height: 8px;
    margin: 25px 12px 0 16px;
    position: relative;
    width: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    /*-o-border-radius: 50%;*/
    border-radius: 50%;
    -webkit-transition: background ease-in-out .5s;
    -moz-transition: background ease-in-out .5s;
    -o-transition: background ease-in-out .5s;
    transition: background ease-in-out .5s;
}

.wrapper_slider label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3) {
    background: #fa974f;
}

.wrapper_slider label:after {
    border: 2px solid rgba(158, 160, 162, 0.68);
    content: " ";
    display: block;
    height: 12px;
    left: -4px;
    position: absolute;
    top: -4px;
    width: 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    /*-o-border-radius: 50%;*/
    border-radius: 50%;

}

.slides p {
    color: #000000;
    font-size: 20px;
    line-height: 27px;
    font-family: "Open Sans";
    font-style: italic;
    text-align: center
}

/*End SLIDER*/
.dop_box {
    background-color: rgba(229, 229, 229, 1);
    width: 1440px;
    height: 200px;
     /*margin: 0 100px 0 100px;*/
    /*padding: 0;*/
}

.wrap_galary_dishes {
    margin-top: 150px;
    height: 182px;
    padding-top: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.galary_dishes_images {

    margin-top: 300px;
    display: flex;
}

.wrap_galary_dishes_images {
    width: 1440px;
    height: 578px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}

.img_row {
    width: 1110px;
    display: flex;
    justify-content: space-between;
}

.wrap_our_cooks {
    display: flex;
    align-items: center;
    height: 266px;
}

.cooks_images {
    width: 1440px;
    display: flex;
    justify-content: center;
}

.img_row_cooks {
    display: flex;
    justify-content: space-between;
    width: 1080px;
    margin-bottom: 100px;

}
